@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  background: url(./img/body-bg.png) no-repeat center/cover;
  height: 3000px;
}
.container {
  max-width: 1780px;
  width: 100%;
  margin: auto;
}
h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 36.77px;
}

.section-words {
  display: flex;
  gap: 63px;
  align-items: center;
  margin-bottom: 34px;
}
.view {
  display: flex;
  gap: 26px;
  p {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
  }
}
.channels {
  display: flex;
  gap: 45px;
}
.card {
  min-width: 260px;
  height: 260px;
  position: relative;
  z-index: 99;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card-text {
  background: #000000cc;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s linear;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 21px 15px;
  font-size: 10px;
  p {
    margin-bottom: 30px;
  }
}
.card:hover {
  transform: scale(2, 1.6);
  z-index: 999;
  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .card-text {
    opacity: 1;
    width: 100%;
  }
}
.ch-name {
  position: absolute;
  right: 0px;
  bottom: -10px;
  width: 66px;
  height: 66px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.w-now {
  padding: 6px 14px;
  border-radius: 60px;
  background: #e13c52;
  color: #fff;
  border: none;
  font-size: 10px;
  cursor: pointer;
}
.add-banner {
  text-align: right;
  button {
    margin-top: -22px;
    width: 728px;
    height: 90px;
    color: #fff;
    background: black;
    font-size: 32px;
    margin-bottom: 54px;
    border: 1px solid #848484;
  }
}
#swiper1 .channels {
  padding-top: 80px;
  padding-bottom: 80px;
}
#swiper3 .card,
#swiper4 .card {
  width: 231px !important;
  height: 348px !important;
  img {
    width: 100%;
    height: 100%;
    border-radius: 4px !important;
  }
}
.New-Channels {
  margin-bottom: 82px;
}
#swiper3 + .add-banner button {
  margin-top: 44px !important;
  margin-bottom: 0;
}
.Popular-Movies {
  margin-bottom: 113px;
}

#swiper2 .card:hover,
#swiper3 .card:hover,
#swiper4 .card:hover {
  transform: scale(1);
  z-index: 999;
  .card-text {
    opacity: 0;
    width: 100%;
  }
}

#swiper3 .channels,
#swiper4 .channels {
  gap: 26px;
  overflow: auto;
  scrollbar-width: none;
}

